<!-- <header class="d-flex justify-content-between bg-secondary shadow">
    <div class="left-side">
        <h4 class="mx-2">Logo</h4>
    </div>
    <div class="right-side ">
        <ul class="nav">
            <li class="nav-item item1">
                <a href="/" class="nav-link text-white">Home</a>

            </li>
            <li class="nav-item item2">
                <a href="/about" class="nav-link text-white">About</a>

            </li>
            <li class="nav-item item3">

                <a href="/contact" class="nav-link text-white">Contact</a>
            </li>
            <li class="nav-item item4">
                <a href="/service" class="nav-link text-white">Service</a>

            </li>
            <li class="nav-item item5">

                <a href="/singup"" class=" nav-link text-white">
                    Creat account
                </a>
            </li>
        </ul>
    </div>
</header> -->