<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/header.ejs",{title:"Empty Page"}) %>
</head>

<body>

    <h1 style="text-align: center;position: absolute;top: 10%;">
        <em>
            <i>
                Sorry, your about info not exit
            </i>
        </em>
    </h1>
    <img src="./sad.png" width="100%" height="100%" alt="" srcset="">


</body>

</html>