<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("./partials/header.ejs",{title:"Home Page"}) %>
        <%- include("./partials/headerStyle.ejs") %>
</head>

<body>




    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position: sticky;top: 0%;">
        <div class="container-fluid">
            <h1 class="navbar-brand mt-1" href="#" style="font-size: 1.5rem;">
                <em>
                    <i>
                        <strong>Profiler.Com</strong>
                    </i>
                </em>
            </h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- <li class="nav-item items">
                        <a class="nav-link text-white" aria-current="page" href="/">Home</a>
                    </li> -->
                    <li class="nav-item items">
                        <a class="nav-link text-white" href="/about">About</a>
                    </li>
                    <li class="nav-item items">
                        <a class="nav-link text-white" href="/contact">Contact</a>
                    </li>
                    <!-- <li class="nav-item items">
                        <a class="nav-link text-white " href="/service">Services</a>
                    </li> -->
                    <li class="nav-item items">
                        <a class="nav-link text-white" href="/profile">Create Profile</a>
                    </li>
                    <li class="nav-item items view">
                        <a class="nav-link text-white " href="/view_profile">View Profile</a>
                    </li>
                </ul>

                <form class="d-flex container12">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success search text-white" type="submit">Search</button>
                </form>



                <% if (logoutLogin) { %>


                    <a class="nav-link account  text-white btn btn-outline-warning  btn-sm " href="/logout">logout</a>
                    <% } else{%>
                        <a class="nav-link account  text-white btn btn-outline-warning  btn-sm " href="/singup">Create
                            Account</a>

                        <%} %>

            </div>
        </div>
    </nav>

    <div class="main">

        <img src="./background.jpg"
            style="background-position: center; width: 100%;
        background-repeat: no-repeat; background-size: cover;object-fit: cover;background-attachment: fixed;height: 100vh;" alt="" srcset="">


    </div>


    <!-- <div class="container-fluid image-container">
        <main>

            <img src="./image.jpg" alt="image" srcset="">
        </main>
    </div> -->



    <script>

        window.onunload = function () {
            document.cookie =
                document.cookie = 'name=; expires=' + new Date(0).toUTCString();
        }


        // const view=document.getElementsByClassName("view")




        window.onload = function () {
            document.querySelector("body").style.backgroundImage = "background.jpg"
        }


        document.addEventListener("contextmenu", (e) => {
            e.preventDefault()
            alert("This is not work")
        })



    </script>

</body>

</html>