<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("./partials/header.ejs",{title:"Error found"}) %>
        <%- include("./partials/404style.ejs") %>
</head>


<body>

    <form action="/" method="get">

        <div class="container">
            <h1 class="oops">Oops!</h1>
            <!-- <h3>404 - PAGE NOT FOUND</h3> -->
            <p><strong><em>Some Error Occured, please try again</em></strong></p>
            <a href="/singin" class="btn btn-warning">GOTO LOGIN</a>
        </div>
    </form>




</body>

</html>