<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("./partials/header.ejs",{title:"Page Not found"}) %>
        <%- include("./partials/404style.ejs") %>
</head>


<body>

    <form action="/" method="get">

        <div class="container">
            <h1 class="oops">Oops!</h1>
            <h3>404 - PAGE NOT FOUND</h3>
            <p>The page you are looking for might be removed or temporarily unavailable</p>
            <a href="/" class="btn btn-success">GOTO HOMEPAGE</a>
        </div>
    </form>




</body>

</html>