<!DOCTYPE html>
<html lang="en">
    <head>

        <%- include("./partials/header.ejs",{title:"service Page"}) %>
    </head>




    <body>

        <h3>
            services Page
        </h3>
    </body>

</html>